<ion-content [fullscreen]="true">
  <ion-header>
    <ion-title>{{ this.titleHero }}</ion-title>
    <br/>
    <br/>
    <ion-card-subtitle>les dates de début et de fin</ion-card-subtitle>
  </ion-header>
  <ion-nav-link router-direction="forward" [component]="sessionListComponent">
    <ion-button>Voir les sessions</ion-button>
  </ion-nav-link>
  <ion-nav-link router-direction="forward" [component]="presentateurListComponent">
    <ion-button>Voir les présentateurs</ion-button>
  </ion-nav-link>
</ion-content>
